// Colors
$primary_color: #0D0D0D;
$secondary_color: #BFBFBF;
$white: #F2F2F0;

// Font Variables
$title-font: "Montserrat", sans-serif;
$text-font: "Lato", sans-serif;

// @
// Media Queries
@mixin tablet {
    @media screen and (max-width: 900px) {
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width: 520px) {
        @content;
    }
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary_color;
    p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: $secondary_color;
        font-family: $text-font;
        line-height: 1.5;
    }
    h2 {
        color: $secondary_color;
        font-family: $title-font;
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
        @include mobile {
            font-size: 30px;
        }
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    .lb-data .lb-caption {
        font-size: 13px;
        font-weight: 400;
        line-height: 1em;
        font-family: $title-font;
    }
}
