header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary_color;
    z-index: 999;
    padding: 15px 30px;
    width: 100%;
    .social-buttons {
        display: flex;
        figure {
            width: 25px;
            height: 25px;
            margin: 0 10px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.top-content {
    width: 100%;
    height: 100vh;
    position: relative;
    &__title {
        position: absolute;
        width: fit-content;
        height: auto;
        top: 90px;
        left: 0;
        right: 0;
        margin: auto;
        h1 {
            font-family: $title_font;
            color: $white;
            text-align: center;
            font-size: 70px;
            font-weight: 500;
        }
    }
    &__image {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -9;
        figure {
            width: 100%;
            height: 100%;
            text-align: center;
            img {
                width: 80%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__description {
        max-width: 640px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
        p {
            margin-bottom: 50px;
        }
    }
}
.intro {
    margin-bottom: 80px;
    .container {
        margin-bottom: 50px;
    }
    &__image {
        width: 100%;
        height: 600px;
        figure {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.first-block {
    margin-bottom: 80px;
    .container {
        margin-bottom: 80px;
    }
    &__images {
        display: flex;
        max-width: 1920px;
        width: 100%;
        height: 800px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        &--text {
            height: fit-content;
            width: 30%;
        }
        &--image {
            height: 100%;
            width: 30%;
            position: relative;
            figure {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image-description {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 30px;
                background-color: rgba($color: $primary_color, $alpha: 0.8);
                transition: all ease-in-out .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: $white;
                    strong {
                        display: block;
                    }
                    span {
                        display: block;
                        font-style: italic;
                        font-size: 80%;
                        margin-top: 30px;
                    }
                }
            }
            &.active {
                .image-description {
                    opacity: 1;
                    transition: all ease-in-out .5s;
                }
            }
        }
    }
}
.second-block {
    margin-bottom: 80px;
    &__text {
        margin-bottom: 40px !important;
    }
    &__images {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
        &--image {
            width: 30%;
            height: auto;
            position: relative;
            figure {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .image-description {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: $primary_color, $alpha: 0.8);
                transition: all ease-in-out .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                p {
                    color: $white;
                    strong {
                        display: block;
                    }
                    span {
                        display: block;
                        font-style: italic;
                        font-size: 80%;
                        margin-top: 30px;
                    }
                }
            }
            &.active {
                .image-description {
                    opacity: 1;
                    transition: all ease-in-out .5s;
                }
            }
        }
    }
}
.third-block {
    margin-bottom: 40px;
    &__text {
        margin-bottom: 40px;
    }
    &__images {
        display: flex;
        max-width: 1920px;
        margin: 0 auto;
        margin-bottom: 40px;
        &--image {
            width: 20%;
            height: auto;
            position: relative;
            figure {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .image-description {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: $primary_color, $alpha: 0.8);
                transition: all ease-in-out .5s;
                transition: all ease-in-out .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                p {
                    color: $white;
                    strong {
                        display: block;
                    }
                    span {
                        display: block;
                        font-style: italic;
                        font-size: 80%;
                        margin-top: 30px;
                    }
                }
            }
            &.active {
                .image-description {
                    opacity: 1;
                    transition: all ease-in-out .5s;
                }
            }
        }
    }
}
.bottom-block {
    margin-bottom: 150px;
    &__image {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        figure {
            width: 100%;
            height: 840px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .image-description {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: $primary_color, $alpha: 0.8);
            transition: all ease-in-out .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            p {
                color: $white;
                span {
                    display: block;
                    font-style: italic;
                    font-size: 80%;
                    margin-top: 30px;
                }
            }
        }
        &.active {
            .image-description {
                opacity: 1;
                transition: all ease-in-out .5s;
            }
        }
    }
    &__bio {
        display: flex;
        justify-content: center;
    }
    .button-bio {
        background-color: transparent;
        border: 1px solid $white;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-family: $title-font;
        width: fit-content;
        height: fit-content;
        padding: 10px;
    }
    &__biograph {
        position: fixed;
        z-index: -9;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transform: scale(0);
        background-color: rgba($color: $primary_color, $alpha: 0.8);
        overflow-x: hidden;
        transition: all ease-in-out .5s;
        .container {
            background-color: $white;
            padding: 80px;
            h2 {
                color: $primary_color;
            }
        }
        &.active {
            z-index: 999;
            opacity: 1;
            pointer-events: all;
            height: 100%;
            width: 100%;
            transform: scale(1);
            overflow-x: scroll;
            transition: all ease-in-out .5s;
        }
    }
}
footer {
    display: flex;
    padding: 10px 50px 70px;
    justify-content: space-between;
    .credits {
        h3 {
            font-size: 12px;
            color: $white;
            line-height: 2;
            font-family: $text-font;
        }
    }
    .social {
        a {
            display: flex;
            color: $white;
            font-family: $text-font;
            font-size: 12px;
            text-decoration: none;
            margin-bottom: 10px;
            opacity: 1;
            transition: all ease-in-out .5s;
            figure {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &:hover {
                opacity: .5;
                transition: all ease-in-out .5s;
            }
        }
    }
}